name: Publish
on:
  push:
    tags:
      - '*'

permissions:
  id-token: write
  contents: read

jobs:
  tests:
    uses: ./.github/workflows/test.yml

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: yarn
      - run: yarn install --immutable
      - run: yarn build
      - uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist/

  release:
    runs-on: ubuntu-latest
    needs: [tests, build]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: dist-files
          path: dist/
      - uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: |
            dist/index.js
            dist/index.js.map

  publish:
    runs-on: ubuntu-latest
    needs: [tests, build]
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: dist-files
          path: dist/
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: yarn
          registry-url: 'https://registry.npmjs.org'
      - run: npm publish --access public --provenance
